{% extends '::base.html.twig' %}

{% block title %}
   Todo
{% endblock %}

{% block body %}
{% for indice, var in app.session.get('mesTodos') %}
   <ol class="list-group">
       <li class="list-group-item">
           {{ indice }} : {{ var }}
       </li>
   </ol>
{% endfor %}
{% endblock %}